@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.container{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 2rem auto 0 auto;
}

.textarea{
    font-family: inherit;
    border-radius: 5px;
    padding: .5rem;
}

.textarea:focus{
    outline: none;
}

.btn-container{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;

}

.gif{
    padding: .8rem 2rem;
    font-family: inherit;
    border: none;
    margin-left: 1.5rem;
    border-radius: 5px;
    background-color: #e7e7e7;
    cursor: pointer;
}

.gif:hover{
  background-color: #d6d6d6;
}

.btn{
    display: block;
    width: 30%;
    padding: .8rem 0;
    cursor: pointer;
    font-family: inherit;
    background-color: #e7e7e7;
    border: none;
    border-radius: 5px;
}

.btn:hover{
  background-color: #d6d6d6;
}

.item-container{
  margin-top: 2rem;
}

.item{
  padding: .8rem 1.5rem;
  border: 1px solid #707070;
  border-radius: 5px;
  font-size: 1.4rem;
}
.item:not(:first-child){
  margin-top: 1rem;
}

